{% extends 'base.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block body %}
    <section id="add">
        <a href="{{ path('voiture.index') }}">← Retour</a>
        <h1>Ajouter une voiture</h1>

        {{ form_start(form) }}

        <div class="input">
            {{ form_row(form.nom) }}
        </div>

        <div class="input">
            {{ form_row(form.description) }}
        </div>

        <div class="flex-input">
            <div class="input">
                {{ form_row(form.prix_mensuel) }}
            </div>
            <div class="input">
                {{ form_row(form.prix_journalier) }}
            </div>
        </div>

        <div class="flex-input">
            <div class="input">
                {{ form_row(form.nombre_de_place) }}
            </div>
            <div class="input">
                {{ form_row(form.manuelle) }}
            </div>
        </div>

        <button class="btn-add">Ajouter</button>

        {{ form_end(form) }}
    </section>
{% endblock %}
